body{
	background-image: url("https://5.imimg.com/data5/AK/RA/MY-68428614/apple-250x250.jpg");
	background-position: bottom;
	background-repeat: no-repeat;

}

h1{
	border-style: dashed ;
	margin: 100px;
	background-color: yellow;
	border-width: 2px;
	


}

